Repository kokonect-link/cherrypick, pull requests merged in 2024-08, with the labels that each got.

#486 Fix:translatorAvailable
  packages/backend/src/core/entities/MetaEntityService.ts
Labels: packages/backend

#485 Fix:withCatsがフィルタされていない問題を修正
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/test/e2e/streaming.ts
Labels: packages/backend, packages/backend:test

#490 fix: Misskey의 최신 버전을 불러올 수 없음
  packages/frontend/src/pages/admin/update.vue
Labels: packages/frontend
